<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
     <div class="container">
      {% for item in data %}
         <div class="jumbotron">
      <h3>{{item.tit}}</h3>
      <p>{{item.intro}}</p>
      <p>{{item.detai}}</p>
      <p class="text-right"><a class="btn btn-primary btn-lg" href="/box3?id={{item.id}}" role="button">查看详情</a></p>
         </div>
      {% endfor %}
     </div>
</body>
</html>