<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<script src="/public/js/jquery-1.12.1.min.js"></script>
<!--<script src="/public/js/each.js"></script>-->

<style>

</style>
<body>
      <div class="container" id="artpub">
          <h3 class="">文本标题</h3>
          <input type="text" class="form-control tit" value="文本标题">
          <h3>文章简介</h3>
          <input type="text" class="form-control intro" value="文本简介">
          <h3>文章详情</h3>
          <input type="text" class="form-control detail" value="文本详情">
          <button class="btn"><a href="">确定提交</a></button>
      </div>
    <script src="/public/js/each.js"></script>
</body>
</html>